.UserSwitch{
  background-color: white;
}

.slide-in-signup {
    animation: slideInAnimationSignup 1s ease-in-out forwards;
  }

  .login-image{
    margin-top: 60px;
  }
@keyframes slideInAnimationSignup {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-70%);
    }
  }

  .slide-in-login {
    animation: slideInAnimationLogin 1s ease-in-out forwards;
  }
  
  @keyframes slideInAnimationLogin {
    from {
      transform: translateX(-70%);
    }
    to {
      transform: translateX(0);
    }
  }